<mat-card  style="width: 700px; margin: auto; margin-top: 30px;">
  <mat-card-content>Add Task</mat-card-content>
  <mat-form-field>
    <mat-label>Task</mat-label>
    <input matInput type="text" name="task" [(ngModel)]="taskname">
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="addtask()">Add task</button>
</mat-card>
<mat-card  style="width: 700px; margin: auto; margin-top: 30px;">
  <mat-card-content>Tasks</mat-card-content>
  <ul style="list-style-type: none;">
    <li *ngFor="let task of tasks">
      <mat-checkbox (change)="complete(task.id)" [(ngModel)]="task.completed" [disabled]="task.completed" [class.completed]="task.completed">
        {{task.text}}
      </mat-checkbox>
    </li>
  </ul>
</mat-card>
